{% extends 'layout.html' %}

{% block body %}

<div class="container" style="margin-top:30px">
        <h2> Hospital Name </h2>
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Update Vacancies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cardiology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Neurology</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>

      {% block content %} {% endblock %}
    </div>
  </div>
{% endblock %}
