{% extends 'layout.html' %}

{% block body %}

<div class="container" style="margin-top:30px">
        <h2> {{ session.hname }} </h2>
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/vacancies">Update Vacancies</a>
          </li>
          {% for article in articles %}
          <li class="nav-item">
            <a class="nav-link" href="departments/{{article.speciality}}">{{article.speciality}}</a>
          </li>
          {% endfor %}
        </ul>
        <hr class="d-sm-none">
      </div>
      {% block content %}
        <span>
          Select an option on the left to continue
        </span>
      {% endblock %}
    </div>
  </div>
{% endblock %}
