{% extends 'dashboard.html' %}

{% block content %}

<script>
    function Edit(num) {
        var children = Array.from(document.querySelector(`#i${num}`).children);
        children.forEach(
            child => {
                child.style.display = 'none';
            }
        );

        document.querySelector(`#i${num} form`).style.display = 'flex';
    }
    function Revert(num)
    {
        document.querySelector(`#i${num} form`).style.display = 'none';
        var children = Array.from(document.querySelectorAll(`#i${num} :not(form)`));
        children.forEach(
            child => {
                child.style.display = 'initial';
            }
        );
    }
</script>

<div class="col-sm-8">
    <h2>{{ session.page  }}</h2>
    <ul class="list-group">
        <li class="list-group-item" id="i1">
            <span id="name">Name 1</span><br>
            <span id="dept">Dept 1</span><br>
            <a href="#" onclick="Edit('1')">Edit</a>
            <form class="form-inline" action="" style="display: none" onsubmit="Revert('1')">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name">
                <label for="dept">Dept:</label>
                <input type="text" class="form-control" id="dept">
                <button type="submit" class="btn btn-primary">Update</button>
              </form> 

        </li>
        <li class="list-group-item" id="i2">
            <span id="name">Name 2</span><br>
            <span id="dept">Dept 2</span><br>
            <span onclick="Edit('2')">Edit</span>
        </li>
    </ul> 
</div>

{% endblock %}