{% extends 'layout.html' %}

{% block body %}
<div class="container Register-container">

<div class="jumbotron text-center">
    <h1>Register</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method = 'POST' action="">
      <div class = "form-group">
        {{render_field(form.name, class_="form-control")}}
      </div>
      <div class = "form-group">
        {{render_field(form.username, class_="form-control")}}
      </div>
      <div class = "form-group" >
        {{render_field(form.rooms, class_="form-control")}}
      </div>
      <div class = "form-group" >
        {{render_field(form.vacant_rooms, class_="form-control")}}
      </div>
      <div class = "form-group" >
        {{render_field(form.wards, class_="form-control")}}
      </div>

      <div class = "form-group">
        {{render_field(form.vacant_wards, class_="form-control")}}
      </div>

      <div class = "form-group" >
        {{render_field(form.icus, class_="form-control")}}
      </div>

      <div class = "form-group" >
        {{render_field(form.vacant_icus, class_="form-control")}}
      </div>

      <div class = "form-group">
        {{render_field(form.password, class_="form-control")}}
      </div>
      <div class = "form-group">
        {{render_field(form.confirm, class_="form-control")}}
      </div>
      <p>
        <input type = 'submit' class = "btn btn-primary" value = "Submit">
      </p>
    </form>
  </div>
  </div>
{% endblock %}
