{% extends 'dashboard.html' %}

{% block content %}

<script>
  //document.querySelector("#vacancy").classList.add("active");

  function Edit(num) {
        var children = Array.from(document.querySelector(`#i${num}`).children);
        children.forEach(
            child => {
                child.style.display = 'none';
            }
        );

        document.querySelector(`#i${num} form`).style.display = 'flex';
    }

</script>

<div class="col-sm-8">
    <h2>Update vacancies</h2>
    <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Category</th>
                <th>Vacancies</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rooms</td>
                <td id="v1">{{ vacancies.vacant_rooms }}</td>
                <td id="i1"><a href="#" onclick="Edit('1')">Update</a>
                  <form class="form-inline" action="/updateVacancy1" style="display: none" METHOD="GET">
                      <label for="new">New:</label>
                      <input type="text" class="form-control" id="new" name="new"><br>
                      <input type="submit" class="btn btn-primary">Update</input>
                    </form></td>
              </tr>
              <tr>
                <td>Beds</td>
                <td id="v2">{{ vacancies.vacant_wards }}</td>
                <td id="i2"><a href="#" onclick="Edit('2')">Update</a>
                  <form class="form-inline" action="/updateVacancy2" style="display: none">
                      <label for="new">New:</label>
                      <input type="text" class="form-control" id="new" name="new"  ><br>
                      <button type="submit" class="btn btn-primary">Update</button>
                    </form></td>
              </tr>
              <tr>
                  <td>ICUs</td>
                  <td id="v3">{{ vacancies.vacant_icus }}</td>
                  <td id="i3"><a href="#" onclick="Edit('3')">Update</a>
                    <form class="form-inline" action="/updateVacancy3" style="display: none">
                        <label for="new">New:</label>
                        <input type="text" class="form-control" id="new" name="new" ><br>
                        <button type="submit" class="btn btn-primary">Update</button>
                      </form></td>
                </tr>
            </tbody>
          </table>
</div>

{% endblock %}
