{% extends 'dashboard.html' %}

{% block content %}

<div class="col-sm-8">
    <h2>Update vacancies</h2>
    <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Category</th>
                <th>Vacancies</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rooms</td>
                <td>val1</td>
                <td><a href="">Update</a></td>
              </tr>
              <tr>
                <td>Beds</td>
                <td>val2</td>
                <td><a href="">Update</a></td>
              </tr>
              <tr>
                <td>ICU Rooms</td>
                <td>val3</td>
                <td><a href="">Update</a></td>
              </tr>
            </tbody>
          </table>
</div>

{% endblock %}